@import "colors.css";

/* Wrappers */

.pop-green {
  -webkit-animation: 
    shadow-pop-green 1s 1.7s both;
  animation:  
    shadow-pop-green 1s 1.7s both;
}

.pop-yellow {
  -webkit-animation: 
    shadow-pop-yellow 1s 1.7s both;
  animation:  
    shadow-pop-yellow 1s 1.7s both;
}

[data-aos="box-pop-green"] {
  -webkit-box-shadow: 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green);
          box-shadow: 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green);
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
[data-aos="box-pop-green"].aos-animate {
  -webkit-box-shadow: -1px 1px var(--green), -2px 2px var(--green), -3px 3px var(--green), -4px 4px var(--green), -5px 5px var(--green), -6px 6px var(--green), -7px 7px var(--green), -8px 8px var(--green);
          box-shadow: -1px 1px var(--green), -2px 2px var(--green), -3px 3px var(--green), -4px 4px var(--green), -5px 5px var(--green), -6px 6px var(--green), -7px 7px var(--green), -8px 8px var(--green);
  -webkit-transform: translateX(8px) translateY(-8px);
          transform: translateX(8px) translateY(-8px);
} 
[data-aos="box-pop-yellow"] {
  -webkit-box-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
          box-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
[data-aos="box-pop-yellow"].aos-animate {
  -webkit-box-shadow: -1px 1px var(--yellow), -2px 2px var(--yellow), -3px 3px var(--yellow), -4px 4px var(--yellow), -5px 5px var(--yellow), -6px 6px var(--yellow), -7px 7px var(--yellow), -8px 8px var(--yellow);
  box-shadow: -1px 1px var(--yellow), -2px 2px var(--yellow), -3px 3px var(--yellow), -4px 4px var(--yellow), -5px 5px var(--yellow), -6px 6px var(--yellow), -7px 7px var(--yellow), -8px 8px var(--yellow);
  -webkit-transform: translateX(8px) translateY(-8px);
          transform: translateX(8px) translateY(-8px);
} 
[data-aos="box-pop-accent"] {
  -webkit-box-shadow: 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent);
          box-shadow: 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent);
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
[data-aos="box-pop-accent"].aos-animate {
  -webkit-box-shadow: -1px 1px var(--accent), -2px 2px var(--accent), -3px 3px var(--accent), -4px 4px var(--accent), -5px 5px var(--accent), -6px 6px var(--accent), -7px 7px var(--accent), -8px 8px var(--accent);
  box-shadow: -1px 1px var(--accent), -2px 2px var(--accent), -3px 3px var(--accent), -4px 4px var(--accent), -5px 5px var(--accent), -6px 6px var(--accent), -7px 7px var(--accent), -8px 8px var(--accent);
  -webkit-transform: translateX(8px) translateY(-8px);
          transform: translateX(8px) translateY(-8px);
} 

[data-aos="pop-yellow"] {
  text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
[data-aos="pop-yellow"].aos-animate {
  text-shadow: -1px 1px var(--yellow), -2px 2px var(--yellow), -3px 3px var(--yellow), -4px 4px var(--yellow), -5px 5px var(--yellow), -6px 6px var(--yellow), -7px 7px var(--yellow), -8px 8px var(--yellow);
  -webkit-transform: translateX(8px) translateY(-8px);
          transform: translateX(8px) translateY(-8px);
} 
[data-aos="pop-green"] {
  text-shadow: 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green);
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
[data-aos="pop-green"].aos-animate {
  text-shadow: -1px 1px var(--green), -2px 2px var(--green), -3px 3px var(--green), -4px 4px var(--green), -5px 5px var(--green), -6px 6px var(--green), -7px 7px var(--green), -8px 8px var(--green);
  -webkit-transform: translateX(8px) translateY(-8px);
          transform: translateX(8px) translateY(-8px);
} 
[data-aos="pop-accent"] {
  text-shadow: 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent), 0 0 var(--accent);
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
[data-aos="pop-accent"].aos-animate {
  text-shadow: -1px 1px var(--accent), -2px 2px var(--accent), -3px 3px var(--accent), -4px 4px var(--accent), -5px 5px var(--accent), -6px 6px var(--accent), -7px 7px var(--accent), -8px 8px var(--accent);
  -webkit-transform: translateX(8px) translateY(-8px);
          transform: translateX(8px) translateY(-8px);
} 
[data-aos="pop-blue"] {
  text-shadow: 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue), 0 0 var(--blue);
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
[data-aos="pop-blue"].aos-animate {
  text-shadow: -1px 1px var(--blue), -2px 2px var(--blue), -3px 3px var(--blue), -4px 4px var(--blue), -5px 5px var(--blue), -6px 6px var(--blue), -7px 7px var(--blue), -8px 8px var(--blue);
  -webkit-transform: translateX(8px) translateY(-8px);
          transform: translateX(8px) translateY(-8px);
}
[data-aos="reveal-right"] {
  transform: rotate(15deg) scaleY(3) translateX(0);
}
[data-aos="reveal-right"].aos-animate {
  transform: rotate(15deg) scaleY(3) translateX(200vw);
}

[data-aos="reveal-left"] {
  transform: rotate(-15deg) scaleY(3) translateX(0);
}
[data-aos="reveal-left"].aos-animate {
  transform: rotate(-15deg) scaleY(3) translateX(-250vw);
}
[data-aos="reveal-first"] {
  transform: rotate(-15deg) scaleY(3) translateX(250vw);
}
[data-aos="reveal-first"].aos-animate {
  transform: rotate(-15deg) scaleY(3) translateX(0);
}

[data-aos="font-upsize"] {
  font-size: x-large;
}
[data-aos="font-upsize"].aos-animate {
  font-size: xx-large;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-10-7 23:53:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2020-10-11 19:17:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tl
 * ----------------------------------------
 */
 
 @-webkit-keyframes shadow-pop-yellow {
  0% {
    text-shadow: 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  1% {
    text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px var(--yellow), -2px 2px var(--yellow), -3px 3px var(--yellow), -4px 4px var(--yellow), -5px 5px var(--yellow), -6px 6px var(--yellow), -7px 7px var(--yellow), -8px 8px var(--yellow);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-yellow {
  0% {
    text-shadow: 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  1% {
    text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px var(--yellow), -2px 2px var(--yellow), -3px 3px var(--yellow), -4px 4px var(--yellow), -5px 5px var(--yellow), -6px 6px var(--yellow), -7px 7px var(--yellow), -8px 8px var(--yellow);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

@-webkit-keyframes shadow-pop-green {
  0% {
    text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  1% {
    text-shadow: 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px var(--green), -2px 2px var(--green), -3px 3px var(--green), -4px 4px var(--green), -5px 5px var(--green), -6px 6px var(--green), -7px 7px var(--green), -8px 8px var(--green);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-green {
  0% {
    text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  1% {
    text-shadow: 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green), 0 0 var(--green);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px var(--green), -2px 2px var(--green), -3px 3px var(--green), -4px 4px var(--green), -5px 5px var(--green), -6px 6px var(--green), -7px 7px var(--green), -8px 8px var(--green);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

