.bulb {
	position: absolute;
	margin-top: -5vw;
	height: 22vw;
	opacity: 0;
}
#bulb-off {
	z-index: 1;
}
#bulb-on {
	z-index: 3;
	height: 22vw;
}


[data-aos="lower-bulb"].aos-animate {
	opacity: 1;
	  -webkit-animation: lower-bulb 1.5s ease-out 1.1s;
			  animation: lower-bulb 1.5s ease-out 1.1s;
  } 
  
  [data-aos="turn-on-bulb"].aos-animate {
	  -webkit-animation: flicker-in-1 2s linear both 2.6s;
			  animation: flicker-in-1 2s linear both 2.6s;
  }
  
  [data-aos="hide-bulb"].aos-animate {
	  -webkit-animation: hide-bulb 0.05s linear 4.6s;
			  animation: hide-bulb 0.05s linear 4.6s;
  }  
  
  
  @keyframes hide-bulb {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  @-webkit-keyframes hide-bulb {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  @-webkit-keyframes flicker-in-1 {
	0% {
	  opacity: 0;
	}
	10% {
	  opacity: 0;
	}
	10.1% {
	  opacity: 1;
	}
	10.2% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	20.1% {
	  opacity: 1;
	}
	20.6% {
	  opacity: 0;
	}
	30% {
	  opacity: 0;
	}
	30.1% {
	  opacity: 1;
	}
	30.5% {
	  opacity: 1;
	}
	30.6% {
	  opacity: 0;
	}
	45% {
	  opacity: 0;
	}
	45.1% {
	  opacity: 1;
	}
	50% {
	  opacity: 1;
	}
	55% {
	  opacity: 1;
	}
	55.1% {
	  opacity: 0;
	}
	57% {
	  opacity: 0;
	}
	57.1% {
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	60.1% {
	  opacity: 0;
	}
	65% {
	  opacity: 0;
	}
	65.1% {
	  opacity: 1;
	}
	75% {
	  opacity: 1;
	}
	75.1% {
	  opacity: 0;
	}
	77% {
	  opacity: 0;
	}
	77.1% {
	  opacity: 1;
	}
	85% {
	  opacity: 1;
	}
	85.1% {
	  opacity: 0;
	}
	86% {
	  opacity: 0;
	}
	86.1% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes flicker-in-1 {
	0% {
	  opacity: 0;
	}
	10% {
	  opacity: 0;
	}
	10.1% {
	  opacity: 1;
	}
	10.2% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	20.1% {
	  opacity: 1;
	}
	20.6% {
	  opacity: 0;
	}
	30% {
	  opacity: 0;
	}
	30.1% {
	  opacity: 1;
	}
	30.5% {
	  opacity: 1;
	}
	30.6% {
	  opacity: 0;
	}
	45% {
	  opacity: 0;
	}
	45.1% {
	  opacity: 1;
	}
	50% {
	  opacity: 1;
	}
	55% {
	  opacity: 1;
	}
	55.1% {
	  opacity: 0;
	}
	57% {
	  opacity: 0;
	}
	57.1% {
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	60.1% {
	  opacity: 0;
	}
	65% {
	  opacity: 0;
	}
	65.1% {
	  opacity: 1;
	}
	75% {
	  opacity: 1;
	}
	75.1% {
	  opacity: 0;
	}
	77% {
	  opacity: 0;
	}
	77.1% {
	  opacity: 1;
	}
	85% {
	  opacity: 1;
	}
	85.1% {
	  opacity: 0;
	}
	86% {
	  opacity: 0;
	}
	86.1% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  
   @-webkit-keyframes lower-bulb {
	0% {
	  -webkit-transform: translateY(-100vh);
			  transform: translateY(-100vh);
	  opacity: 1;
	}
	99% {
	  -webkit-transform: translateY(0vh);
			  transform: translateY(0vh);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateY(0vh);
			  transform: translateY(0vh);
	  opacity: 1;
	}
  }
  @keyframes lower-bulb {
	0% {
	  -webkit-transform: translateY(-100vh);
			  transform: translateY(-100vh);
	  opacity: 1;
	}
	99% {
	  -webkit-transform: translateY(0vh);
			  transform: translateY(0vh);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateY(0vh);
			  transform: translateY(0vh);
	  opacity: 1;
	}
  }
  