:root {
    --green: #6a8d73ff;
    --yellow: #e3b23cff;
    --blue: #197BBDff;
    --accent: #fd5e53ff;
    --transparent: #ffffff00;

    --dark: #23201b;
    --gray: #0a0a09;
    --light: #edebd7;
    --white: #F9F8F1;

  }

  /* Wrappers */
.green {
    color: var(--green);
}

.accent {
    color: var(--accent);
}

.yellow {
    color: var(--yellow);
}

.dark {
    color: var(--dark);
}

.blue {
    color: var(--blue);
}

.light {
    color: var(--light);
}

.white {
    color: var(--white);
}