body {
    margin: 0;
    background-color: #276E7B;
    overflow: hidden;
}
#pixicanvas {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    z-index: 1;
}
