
.flying-note {
  position: absolute;
  height: 15vh;
  width: 12vw;
  left: 50vw;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.flying-note.a {
  background-image: url(../img/notes/note1.svg);
}
.flying-note.b{
  background-image: url(../img/notes/note2.svg); 
}
.flying-note.c {
  background-image: url(../img/notes/note3.svg); 
}
.flying-note.d {
  background-image: url(../img/notes/note4.svg); 
}

.music {
  font-size: 15vmin;
}

[data-aos="music"].aos-animate {
    -webkit-animation: music 1s ease infinite;
            animation: music 1s ease infinite;
}
[data-aos="rotate-fade-a"].aos-animate {
  animation: rotate-fade-a 4s ease-out 0.3s infinite;
  -webkit-animation: rotate-fade-a 4s ease-out 0.3s infinite;
}
[data-aos="rotate-fade-b"].aos-animate {
  animation: rotate-fade-b 4s ease-out 0.3s infinite;
  -webkit-animation: rotate-fade-b 4s ease-out 0.3s infinite;
}
[data-aos="rotate-fade-c"].aos-animate {
  animation: rotate-fade-c 4s ease-out 0.3s infinite;
  -webkit-animation: rotate-fade-c 4s ease-out 0.3s infinite;
}
[data-aos="rotate-fade-d"].aos-animate {
  animation: rotate-fade-d 4s ease-out 0.3s infinite;
  -webkit-animation: rotate-fade-d 4s ease-out 0.3s infinite;
}
  
@keyframes  rotate-fade-a {
  0% {
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 1;
  }
  25%, 100% {
    -webkit-transform: translate(50vw, 5vh) rotate(0deg);
            transform: translate(50vw, 5vh) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes  rotate-fade-a {
  0% {
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 1;
  }
  25%, 100% {
    -webkit-transform: translate(50vw, 5vh) rotate(0deg);
            transform: translate(50vw, 5vh) rotate(0deg);
    opacity: 1;
  }
}

@keyframes  rotate-fade-b {
  0% {
    animation-timing-function: step-end;
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 0;
  }
  
  25% {
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 1;
  }
  50%, 100% {
    -webkit-transform: translate(50vw, -8vh) rotate(0deg);
            transform: translate(50vw, -8vh) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes  rotate-fade-b {
  0% {
    animation-timing-function: step-end;
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 0;
  }
  
  25% {
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 1;
  }
  50%, 100% {
    -webkit-transform: translate(50vw, -8vh) rotate(0deg);
            transform: translate(50vw, -8vh) rotate(0deg);
    opacity: 1;
  }
}

@keyframes  rotate-fade-c {
  0% {
    animation-timing-function: step-end;
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 0;
  }
  
  50% {
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 1;
  }
  75%, 100% {
    -webkit-transform: translate(50vw, 4vh) rotate(0deg);
            transform: translate(50vw, 4vh) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes  rotate-fade-c {
  0% {
    animation-timing-function: step-end;
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 0;
  }
  
  50% {
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 1;
  }
  75%, 100% {
    -webkit-transform: translate(50vw, 4vh) rotate(0deg);
            transform: translate(50vw, 4vh) rotate(0deg);
    opacity: 1;
  }
}


@keyframes  rotate-fade-d {
  0% {
    animation-timing-function: step-end;
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 0;
  }
  
  75% {
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(50vw, -1vh) rotate(0deg);
            transform: translate(50vw, -1vh) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes  rotate-fade-d {
  0% {
    animation-timing-function: step-end;
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 0;
  }
  
  75% {
    -webkit-transform: translate(0, 0) rotate(-540deg);
            transform: translate(0, 0) rotate(-540deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(50vw, -1vh) rotate(0deg);
            transform: translate(50vw, -1vh) rotate(0deg);
    opacity: 1;
  }
}


@keyframes music {
  0% {
    animation-timing-function: ease-in;
    text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }

  33% {
    animation-timing-function: ease-out;
    text-shadow: -1px 1px var(--yellow), -2px 2px var(--yellow), -3px 3px var(--yellow), -4px 4px var(--yellow), -5px 5px var(--yellow), -6px 6px var(--yellow), -7px 7px var(--yellow), -8px 8px var(--yellow);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }

  100% {
    text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes music {
  0% {
    animation-timing-function: ease-in;
    text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }

  33% {
    animation-timing-function: ease-out;
    text-shadow: -1px 1px var(--yellow), -2px 2px var(--yellow), -3px 3px var(--yellow), -4px 4px var(--yellow), -5px 5px var(--yellow), -6px 6px var(--yellow), -7px 7px var(--yellow), -8px 8px var(--yellow);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }

  100% {
    text-shadow: 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow), 0 0 var(--yellow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
