@import "colors.css";
@import "font.css";
@import "webgl.css";


html, body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--accent);
}

html::-webkit-scrollbar {
  display: none;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title {
  text-align: center;
  font-family: 'brcxyz-Title', normal;
  font-size: 20vmin;
  margin-top: -5vw;
  margin-bottom: -5vw;
}

.panel {
  width: 100vw;
}
.panel.blue {
  background-color: var(--blue);
}
.panel.yellow {
  background-color: var(--yellow);
}
.panel.green {
  background-color: var(--green);
}
.panel.accent {
  background-color: var(--accent);
}
.panel.transparent {
  background-color: #00000000;
}


.box {
  font-family: 'brcxyz-Bold';  
  text-align: center;
  font-size: 10vw;
  color: var(--white);

  margin: 3vw;
  padding: 8px;
  display: block;
}

.box.accent {
  color: var(--accent);
}
.box.blue {
  color: var(--blue);
}
.box.yellow {
  color: var(--yellow);
}
.box.green {
  color: var(--green);
}

.subtitle {
  font-family: 'brcxyz-Bold';
  font-size: 20vw;
  width: 94vw;
  margin: 3vw;
  padding: 0;
}

/* Cover */

#webgl {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
  background-color: var(--light);
}

#title-panel {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* First section */

#hi-panel {
  display: flex;
  flex-direction: column;
}

/* Second section */

#likes-panel {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
}

.box.likes {
  font-size: 10vw;
  font-family: 'brcxyz-Bold';
  display: flex;
  flex-direction: column;
}
.box.masked {
  color: #00000000;
}

/* Third section */

#skills-box {
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.skill {
  font-family: 'brcxyz-Bold';
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 13vw;
  color: var(--accent);
}


/* Links section */
.box.a {
  color: var(--green) ;
}


@media only screen and (orientation: landscape) {
  .box, .box.likes{
    font-size: 8vh;
  }

  .box.likes {
    flex-direction: row;
  }
  .like {
    padding-right: 2vh;
  }
  .skill { font-size: 12vh; }
  
  .subtitle {
    margin: 3vh;
    font-size: 18vh;
  }

  #title-panel {
    flex-direction: row;
  }

  
}