@import "colors.css";
@import "animation.css";
@import "font.css";
@import "fullpage.css";

.section {
  text-align: center;
  background: var(--color-light);
}

.centerer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title {
  text-align: center;
  font-family: 'brcxyz-Title', normal;
  font-size: 20vh;
  z-index: 10;
}

@media only screen and (orientation: portrait) {
  .title {
    font-size: 20vmin;
    margin-top: -5vw;
    margin-bottom: -5vw;
  }
  .centerer {
    flex-direction: column;
  }
}

#webgl {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
}