@import "animation.css";
@import "font.css";
@import "webgl.css";


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.spacer {
  height: 100vh;
}

.title {
  text-align: center;
  font-family: 'brcxyz-Title', normal;
  font-size: 20vmin;
  margin-top: -5vw;
  margin-bottom: -5vw;
  z-index: 10;
}

.columnist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: fit-content;
  width: 100vw;
}

.rowist {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.panel {
  z-index: 11;
  width: 100vw;
  transform-origin: center top;
  background-color: rgba(255, 251, 0, 0.2);
}
.panel.blue {
  background-color: var(--blue);
}
.panel.yellow {
  background-color: var(--yellow);
}
.panel.green {
  background-color: var(--green);
}
.panel.light {
  background-color: var(--light);
}

.subtitle {
  font-family: 'brcxyz-Bold';
  font-size: 20vmin;
  margin-left: 3vw;
  margin-right: 3vw;}
.subtitle.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.skill {
  font-family: 'brcxyz-Bold';
  margin-left: 3vw;
  margin-right: 3vw;
}
.skill.major {
  font-size: 13vmin;
  color: var(--yellow);
}
.skill.medium {
  font-size: 10vmin;
  color: var(--accent);
}
.skill.minor {
  font-size: 7vmin;
  color: var(--light);
}
#skills-box {
  z-index: 11;
  flex-wrap: wrap;
  background-color: transparent;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.box {
  font-family: 'brcxyz-Regular';
  font-size: large;
  color: var(--white);
  z-index: 11;
  margin-left: 3vmin;
  margin-right: 5vmin;
  margin-top: 3vh;
  padding: 8px;
  background-color: none;
  display: block;
}
.box.link {
  font-size: xx-large;
  text-align: right;
}

#webgl {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
  z-index: 4;
  background-color: var(--light);
}

#slide-ins {
  position: fixed;
  top: 0px;
  left: 0px;
}

#title-panel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (orientation: landscape) {
  .title {
    font-size: 20vh;
  }
  #title-panel {
    flex-direction: row;
  }
}