:root {
  --the-pink: #f00090;
  --the-darker-pink: #d60080;
  --bg-color: #1e212f;
  --shadow-color: #151621;
}

.pink {
  color: var(--the-pink);
}

.darkpink {
  color: var(--the-darker-pink);
}

/* borderless, marginless */
html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	border: 0;
	background-color: var(--bg-color);
	position: fixed;
  overflow-x: hidden;
}

.centerer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('img/background.jpg');
  background-size: 100% 100%;
	z-index: 9;
}

.title {
  text-align: center;
  font-family: 'brcxyz-Title', normal;
  font-size: 10vw;
  z-index: 10;
  -webkit-animation: 
    flicker-in 1s linear both, 
    shadow-pop-bl 1s 2.5s both;
  animation: 
    flicker-in 1s linear both, 
    shadow-pop-bl 1s 2.5s both;
}

.navigation {
  position: fixed;
  z-index: 10;
  padding-bottom: 10vh;
  top: -12vh;
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.navigation:hover, .navigation:focus {
    transform: translateY(14vh);
}

.nav-button {
  margin: 10px;
  display: inline-block;
  -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
  .nav-button:hover {
  -webkit-animation: shadow-pop-bl-rev 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl-rev 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }

.nav-text {
  text-align: center;
  text-decoration: none;
  color: var(--the-darker-pink);
  font-family: 'brcxyz-Title', normal;
  font-size: 3vw;
  display: block;
}

.hidden {
  display: none;
}

.gl-backdrop {
  width: 100%;
  height: 100vh;
  display: block;
}

#purple-triangles {
  background-image: url('img/background.jpg');
  background-size: 100% 100%;
} 

#logo-mesh {
  height:200vh;
}

.panel {
  height: 102vh;
  width: 100%;
  overflow: hidden;
}

.scroll {
  background-image: url(img/logo-bg.svg);
  top: 0px;
  left: 0px;
  height: 200%;
  width: 200%;
  z-index: 1;
  -webkit-animation: scrolling 12s linear 0s infinite;
          animation: scrolling 12s linear 0s infinite;
}

/* Fonts */
@font-face {
    font-family: 'brcxyz-Title';
    src: url('font/LouisGeorgeCafe_brcxyz-Title.eot');
    src: url('font/LouisGeorgeCafe_brcxyz-Title.eot?#iefix') format('embedded-opentype'),
        url('font/LouisGeorgeCafe_brcxyz-Title.woff2') format('woff2'),
        url('font/LouisGeorgeCafe_brcxyz-Title.woff') format('woff'),
        url('font/LouisGeorgeCafe_brcxyz-Title.ttf') format('truetype'),
        url('font/LouisGeorgeCafe_brcxyz-Title.svg#LouisGeorgeCafe_brcxyz-Title') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'brcxyz-Regular';
    src: url('LouisGeorgeCafe_brcxyz-Reg.eot');
    src: url('LouisGeorgeCafe_brcxyz-Reg.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe_brcxyz-Reg.woff2') format('woff2'),
        url('LouisGeorgeCafe_brcxyz-Reg.woff') format('woff'),
        url('LouisGeorgeCafe_brcxyz-Reg.ttf') format('truetype'),
        url('LouisGeorgeCafe_brcxyz-Reg.svg#LouisGeorgeCafe_brcxyz-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brcxyz-Light';
    src: url('LouisGeorgeCafe_brcxyz-Light.eot');
    src: url('LouisGeorgeCafe_brcxyz-Light.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe_brcxyz-Light.woff2') format('woff2'),
        url('LouisGeorgeCafe_brcxyz-Light.woff') format('woff'),
        url('LouisGeorgeCafe_brcxyz-Light.ttf') format('truetype'),
        url('LouisGeorgeCafe_brcxyz-Light.svg#LouisGeorgeCafe_brcxyz-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* Animations */
@-webkit-keyframes scrolling { 
  0% {
    -webkit-transform: translate(-237px,-135px);
            transform: translate(-180px,-134px);
  }
  100% {
    -webkit-transform: translate(0px,0px);
            transform: translate(0px,0px);
  }
}
@keyframes scrolling { 
  0% {
    -webkit-transform: translate(-237px,-135px);
            transform: translate(-180px,-134px);
  }
  100% {
    -webkit-transform: translate(0px,0px);
            transform: translate(0px,0px);
  }
}

@keyframes rotate90{
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(90deg);
  }
}@keyframes rotate-90{
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(-90deg);
  }
}

.shadow-up {
  -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-8 22:5:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes flicker-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shadow-pop-bl {
  0% {
    text-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    text-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@-webkit-keyframes shadow-pop-bl-rev {
  100% {
    text-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  0% {
    text-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl-rev {
  100% {
    text-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  0% {
    text-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

