:root {
  --the-pink: #f00090;
  --the-darker-pink: #d60080;
  --bg-color: #1e212f;
  --shadow-color: #151621;
}

.pink {
  color: var(--the-pink);
}

.darkpink {
  color: var(--the-darker-pink);
}

/* borderless, marginless */
html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	border: 0;
	background-color: var(--bg-color);
	position: fixed;
  overflow-x: hidden;
}

.centerer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('img/background.jpg');
  background-size: 100% 100%;
	z-index: 9;
}

.title {
  text-align: center;
  font-family: 'brcxyz-Title', normal;
  font-size: 10vw;
  z-index: 10;
  -webkit-animation: 
    flicker-in 1s linear both, 
    shadow-pop-bl 1s 2.5s both;
  animation: 
    flicker-in 1s linear both, 
    shadow-pop-bl 1s 2.5s both;
}

.navigation {
  position: fixed;
  z-index: 10;
  padding-bottom: 10vh;
  top: -12vh;
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.navigation:hover, .navigation:focus {
    transform: translateY(14vh);
}

.nav-button {
  margin: 10px;
  display: inline-block;
  -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
  .nav-button:hover {
  -webkit-animation: shadow-pop-bl-rev 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl-rev 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }

.nav-text {
  text-align: center;
  text-decoration: none;
  color: var(--the-darker-pink);
  font-family: 'brcxyz-Title', normal;
  font-size: 3vw;
  display: block;
}

.hidden {
  display: none;
}

.gl-backdrop {
  width: 100%;
  height: 100vh;
  display: block;
}

#purple-triangles {
  background-image: url('img/background.jpg');
  background-size: 100% 100%;
} 

#logo-mesh {
  height:200vh;
}

.panel {
  height: 102vh;
  width: 100%;
  overflow: hidden;
}

.scroll {
  background-image: url(img/logo-bg.svg);
  top: 0px;
  left: 0px;
  height: 200%;
  width: 200%;
  z-index: 1;
  -webkit-animation: scrolling 12s linear 0s infinite;
          animation: scrolling 12s linear 0s infinite;
}
