:root {
  --the-pink: #f00090;
  --the-darker-pink: #d60080;
  --bg-color: #1e212f;
  --shadow-color: #151621;
}

/* borderless, marginless */
html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	border: 0;
	background-color: var(--bg-color);
	position: fixed;
  overflow-x: hidden;
}

.centerer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hider {
  top: 0;
  left: 0;
  background-image: url('img/background.jpg');
  background-size: 100% 100%;
	z-index: 100;
}

/*.lighter {
		position: relative;
		display: inline-block;
		height: 8%;
		width: auto;
		-webkit-animation: bounce-in-top 0.8s 1.5s both;
	  animation: bounce-in-top 0.8s 1.5s both;
		z-index: 11;
} */

.title {
  position: relative;
  display: inline-block;
  max-width: 50%;
  height: 30vh;
  width: auto;
  min-width: 230px;
}

.navigation {
  position: fixed;
  z-index: 10;
  padding-bottom: 5vh;
  top: -9vh;
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.navigation:hover, .navigation:focus {
    transform: translateY(9vh);
}

.nav-button {
  margin: 10px;
  display: inline-block;
  -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
  .nav-button:hover {
  -webkit-animation: shadow-pop-bl-reverse 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl-reverse 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }

.nav-element-image {
  height: 4vw;
  min-height: 20px;
  max-height: 50px;
  display: block;
}

.nav-handle {
  position: absolute;
  top: 80%;
}

.hidden {
  display: none;
}

.gl-backdrop {
  width: 100%;
  height: 100vh;
  display: block;
}

#purple-triangles {
  background-image: url('img/background.jpg');
  background-size: 100% 100%;
} 

.panel {
  height: 102vh;
  width: 100%;
  overflow: hidden;
}

.scroll {
  background-image: url(img/logo-bg.svg);
  top: 0px;
  left: 0px;
  height: 200%;
  width: 200%;
  z-index: 1;
  -webkit-animation: scrolling 12s linear 0s infinite;
          animation: scrolling 12s linear 0s infinite;
}

/* Animations */
@-webkit-keyframes scrolling { 
  0% {
    -webkit-transform: translate(-237px,-135px);
            transform: translate(-180px,-134px);
  }
  100% {
    -webkit-transform: translate(0px,0px);
            transform: translate(0px,0px);
  }
}
@keyframes scrolling { 
  0% {
    -webkit-transform: translate(-237px,-135px);
            transform: translate(-180px,-134px);
  }
  100% {
    -webkit-transform: translate(0px,0px);
            transform: translate(0px,0px);
  }
}

@keyframes rotate90{
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(90deg);
  }
}@keyframes rotate-90{
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(-90deg);
  }
}

.flicker-in {
  -webkit-animation: flicker-in-1 1.5s linear 0s both;
        animation: flicker-in-1 1.5s linear 0s both;
}

.shadow-up {
  -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-8 22:5:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes shadow-pop-bl-reverse {
  0% {
    -webkit-box-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
            box-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
  100% {
    -webkit-box-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
            box-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@keyframes shadow-pop-bl-reverse {
  0% {
    -webkit-box-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
            box-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
  100% {
    -webkit-box-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
            box-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
            box-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
            box-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
            box-shadow: 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621, 0 0 #151621;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
            box-shadow: -1px 1px #151621, -2px 2px #151621, -3px 3px #151621, -4px 4px #151621, -5px 5px #151621, -6px 6px #151621, -7px 7px #151621, -8px 8px #151621;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
