@font-face {
    font-family: 'brcxyz (LouisGeorgeCafe)';
    src: url('LouisGeorgeCafe_brcxyz-Title.eot');
    src: url('LouisGeorgeCafe_brcxyz-Title.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe_brcxyz-Title.woff2') format('woff2'),
        url('LouisGeorgeCafe_brcxyz-Title.woff') format('woff'),
        url('LouisGeorgeCafe_brcxyz-Title.ttf') format('truetype'),
        url('LouisGeorgeCafe_brcxyz-Title.svg#LouisGeorgeCafe_brcxyz-Title') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'brcxyz (Louis George Cafe)';
    src: url('LouisGeorgeCafe_brcxyz-Reg.eot');
    src: url('LouisGeorgeCafe_brcxyz-Reg.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe_brcxyz-Reg.woff2') format('woff2'),
        url('LouisGeorgeCafe_brcxyz-Reg.woff') format('woff'),
        url('LouisGeorgeCafe_brcxyz-Reg.ttf') format('truetype'),
        url('LouisGeorgeCafe_brcxyz-Reg.svg#LouisGeorgeCafe_brcxyz-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brcxyz (LouisGeorgeCafe)';
    src: url('LouisGeorgeCafe_brcxyz-Light.eot');
    src: url('LouisGeorgeCafe_brcxyz-Light.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe_brcxyz-Light.woff2') format('woff2'),
        url('LouisGeorgeCafe_brcxyz-Light.woff') format('woff'),
        url('LouisGeorgeCafe_brcxyz-Light.ttf') format('truetype'),
        url('LouisGeorgeCafe_brcxyz-Light.svg#LouisGeorgeCafe_brcxyz-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'brcxyz (LouisGeorgeCafe)';
    src: url('LouisGeorge_brcxyz-LightItali.eot');
    src: url('LouisGeorge_brcxyz-LightItali.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorge_brcxyz-LightItali.woff2') format('woff2'),
        url('LouisGeorge_brcxyz-LightItali.woff') format('woff'),
        url('LouisGeorge_brcxyz-LightItali.ttf') format('truetype'),
        url('LouisGeorge_brcxyz-LightItali.svg#LouisGeorge_brcxyz-LightItali') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'brcxyz (LouisGeorgeCafe)';
    src: url('LouisGeorgeCafe_brcxyz-Bold.eot');
    src: url('LouisGeorgeCafe_brcxyz-Bold.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe_brcxyz-Bold.woff2') format('woff2'),
        url('LouisGeorgeCafe_brcxyz-Bold.woff') format('woff'),
        url('LouisGeorgeCafe_brcxyz-Bold.ttf') format('truetype'),
        url('LouisGeorgeCafe_brcxyz-Bold.svg#LouisGeorgeCafe_brcxyz-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'brcxyz (LouisGeorgeCafe)';
    src: url('LouisGeorgeCafe_brcxyz-Italic.eot');
    src: url('LouisGeorgeCafe_brcxyz-Italic.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe_brcxyz-Italic.woff2') format('woff2'),
        url('LouisGeorgeCafe_brcxyz-Italic.woff') format('woff'),
        url('LouisGeorgeCafe_brcxyz-Italic.ttf') format('truetype'),
        url('LouisGeorgeCafe_brcxyz-Italic.svg#LouisGeorgeCafe_brcxyz-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


