body {
    background-color: #F9C1BF;
    margin: 0;
    overflow: hidden;
}

img {
    top: 0;
    left: 25vw;
    height: 100vh;
}

#centerer {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.webp #centerer {
    background-image: url(../img/mona_man.webp);
}

.no-webp #centerer { 
    background-image: url(../img/mona_man.gif);
}

.no-js #centerer { 
    background-image: url(../img/mona_man.gif);
}

@media only screen and (orientation: portrait) {
    #centerer {
        flex-direction: column;
    }

    .text {
        margin: 22vh;
    }
}


.text {
    z-index: 10;
    color: white;
    height: auto;
    width: 50vw;
    text-shadow: 2px 2px #242424;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 6vh;
    text-align: center;
}