body {
    margin: 0;
    background-color: #276E7B;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sekai {
    position: absolute;
    left: 10px;
    top: 6px;
    z-index: 10;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}   

#pixicanvas {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    z-index: 1;
}
