.box::-webkit-scrollbar {
    width: 2px;
}
  
.box::-webkit-scrollbar-track {
    display: none;
}

.box::-webkit-scrollbar-thumb {
    background: var(--white);
    box-shadow: 1px 0px var(--white) ;
}

a {
  color: var(--white);
}
.clean {
    text-decoration: none;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: var(--white);
}

h6 {
    font-family: 'brcxyz-Regular';  
    font-size: xx-large;
    margin: 0 auto 0;
    font-weight: normal;
    font-style: italic;

}

.box {
    font-family: 'brcxyz-Regular';  
    position: relative;
    margin: 5vmin 10vw 5vmin;
    width: 80vw;
    display: block;
    font-size: x-large;
    overflow-x: hidden;
    text-align: left;
    border-color: var(--white);
    border-style: solid;
    border-width: 0;
    padding-top: 2vh;
    transform-origin: bottom center;
}

.subtitle {
    font-size: 20vw;
    align-self:flex-start;
    transform-origin: top center;
    overflow: hidden !important;
    padding: 8px;
    margin: 0 8vw 0;
}

.wrapper {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow: hidden;
    justify-content: flex-start;
}

#welcome-section, #synth-section, #battleship-section, #outfielder-section
{
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 400%;
    background-blend-mode: soft-light;
}

#welcome-section {
    background-color: var(--accent);
}

#synth-section {
    background-image: url("../img/pixel-synth.png");
    background-color: #B14156;
}

#battleship-section {
    background-image: url("../img/battleship.png");
    background-color: var(--blue);
}

#outfielder-section {
    background-image: url("../img/outfielder.png");
    background-color: #38B86E;
}

.landscape-title {
    display: none;
}

@media only screen and (orientation: landscape) {
    .subtitle {
        font-size: 8vw;
    }

    .portrait-title {
        display: none;
    }
    .landscape-title {
        display: block;
    }
    #welcome-section, #synth-section, #battleship-section, #outfielder-section {
        background-size: 120%;
    }
}